<div *ngIf="control" (focusout)="touch()" class="relative" [@appear]="{value: ':enter', params: { duration: duration}}">

  <textarea [maxlength]="maxLength" *ngIf="textArea; else input" [placeholder]="placeholder" [(ngModel)]="value"
    (ngModelChange)="patchValue()" rows="6" [ngClass]="{
      'error' : isInvalid
    }"> </textarea>

  <ng-template #input>
    <input [maxlength]="maxLength" [type]="type" [placeholder]="placeholder" [(ngModel)]="value"
      (ngModelChange)="patchValue()" [ngClass]="{
      'error' : isInvalid
    }">
  </ng-template>

  <span class="text-third absolute left-0 mt-1.5 ml-3 text-xl"><ng-content></ng-content></span>


</div>

<span class="text-danger text-xs duration-1000" [ngClass]="{
  'opacity-0' : !isInvalid
}"> {{error}} </span>

<span *ngIf="textArea" class="float-right text-xs text-third"> {{value ? value.length : '0'}} / {{maxLength}}</span>
