<app-background-element [src]="'../../../assets/java.png'"></app-background-element>
<app-background-element [src]="'../../../assets/spring.png'"></app-background-element>
<app-background-element [src]="'../../../assets/angular.png'"></app-background-element>
<app-background-element [src]="'../../../assets/sql.png'"></app-background-element>
<app-background-element [src]="'../../../assets/mongo.png'"></app-background-element>
<app-background-element [src]="'../../../assets/golang.png'"></app-background-element>
<app-background-element [src]="'../../../assets/tailwind.png'"></app-background-element>
<app-background-element [src]="'../../../assets/javascript.webp'"></app-background-element>
<app-background-element [src]="'../../../assets/img.png'"></app-background-element>
<app-background-element [src]="'../../../assets/git.png'"></app-background-element>
<app-background-element [src]="'../../../assets/html.png'"></app-background-element>
<app-background-element [src]="'../../../assets/css.png'"></app-background-element>
<app-background-element [src]="'../../../assets/visualstudio.svg'"></app-background-element>
<app-background-element [src]="'../../../assets/postman.svg'"></app-background-element>
<app-background-element [src]="'../../../assets/android.png'"></app-background-element>
<app-background-element [src]="'../../../assets/docker.png'"></app-background-element>
