<app-background-element [src]="'../../../assets/coffee.svg'"></app-background-element>
<app-background-element class="hidden md:block" [src]="'../../../assets/clumsy.svg'" [minX]="40" ></app-background-element>
<app-background-element [src]="'../../../assets/zombieing.svg'" [minX]="30" [minY]="60"></app-background-element>
<app-background-element class="hidden md:block" [src]="'../../../assets/bikini.svg'" [minX]="60" [minY]="30"></app-background-element>
<app-background-element class="hidden md:block" [src]="'../../../assets/unboxing.svg'" [minX]="10" [minY]="40"></app-background-element>
