<div class="w-11/12 md:w-8/12 mx-auto pt-28">
  <p @enterState>
    My name is Mauricio Godoy, i 'm twenty one years old and
    i 'm a
    from
    <span class="text-secondary font-bold"> San Luis, Argentina </span>
    <fa-icon class="text-secondary" [icon]="faMap"></fa-icon>
  </p>
  <p @enterState *ngIf="displayList[0]">
    I started programming in secondary school and i was a finalist in <img src="../../../../assets/mega.png"
      class="inline-image">
  </p>
  <p @enterState *ngIf="displayList[1]">
    i 'm a <span class="text-secondary font-bold">self-taught student <fa-icon class="text-secondary"
        [icon]="faBrain"></fa-icon> </span>, i have
    various certifications from<img src="../../../../assets/platzi.webp" class="inline-image">and i studed in the
    <span class="font-bold text-secondary">
      Java <img src="../../../../assets/mindhub.webp" class="inline-image"> Bootcamp <fa-icon class="text-secondary"
        [icon]="faGraduationCap"></fa-icon>
    </span>
  </p>
  <p @enterState *ngIf="displayList[2]">
    I work in
    <img src="../../../../assets/stacktrace.png" class="inline-image mx-2">, i 'm a <span
      class="font-bold text-secondary">Fullstack Developer</span> and
    i use
    <span class="font-bold text-angular"><fa-icon [icon]="faAngular"></fa-icon> Angular </span> for
    frontend area, <span class="font-bold text-spring"><fa-icon [icon]="faJava"></fa-icon> Spring Framework </span> for
    backend area, and relational and no relational
    databases
    (MongoDB, ElasticSearch) <fa-icon class="text-secondary" [icon]="faDatabase"></fa-icon>

  </p>
</div>
