<div class="flex flex-col justify-center h-screen w-8/12 mx-auto" @enterState>
  <p>
    My name is Mauricio Godoy, i 'm twenty one years old and
    i 'm a
    from
    San Luis, Argentina
    <fa-icon [icon]="faMap"></fa-icon>
  </p>
  <p>
    I started programming in secondary school and i studed in a bootcamp <fa-icon [icon]="faGraduationCap"></fa-icon>
  </p>
  <p>
    i 'm a self-taught student, i 'm a <img src="../../../../assets/platzi.webp" class="inline h-16"> expert and i have
    various certifications <fa-icon [icon]="faBrain"></fa-icon>
  </p>
  <p>
    I'm a fullstack developer, i work in
    <img src="../../../../assets/stacktrace.png" class="h-16 inline mx-2"> and i use
    <span class="font-bold text-spring"><fa-icon [icon]="faJava"></fa-icon> Spring Framework </span> for
    backend area and <span class="font-bold text-angular"><fa-icon [icon]="faAngular"></fa-icon> Angular </span> for
    frontend area
  </p>
</div>
