/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #E845FF;
  --third-color: #8C52FF;
  --third-color-transparent: #8c52ff8e;
}


p {
  @apply text-xl md:text-3xl text-white mb-8 text-justify;
}

a {
  @apply text-white;
}

li {
  @apply duration-500
}

.inline-image {
  @apply md:h-16 inline h-8;
}

.visibility-sm {
  @apply inline md:hidden;
}

.visibility-xl {
  @apply md:inline hidden;
}

button {
  @apply text-white font-bold px-8 py-2 rounded-md uppercase  w-full;
}

app-btn {
  @apply w-11/12 mx-auto
}

input, textarea {
  @apply text-white py-2 bg-none rounded-md border-2 border-third bg-transparent
  focus:border-secondary focus:bg-secondary w-full
}

.btn-primary {
  @apply bg-third hover:bg-secondary;
}

a, button, input, textarea {
  @apply focus:outline-none focus:shadow-third duration-1000
}

.error {
  @apply border-danger
}

app-input {
  @apply w-11/12 mx-auto
}

textarea {
  resize: none;
  @apply px-4
}

input {
 @apply px-9
}

textarea::-webkit-scrollbar {
  width: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--third-color-transparent);
  border-radius: 5px;
  padding: 0 5px;
}

